<!--The content below is only a placeholder and can be replaced.-->
<h1>{{ title }}</h1>
<ul>
  <li>
    <a routerLink='' routerLinkActive='active-nav'>Home</a>
  </li>
  <li>
    <a routerLink='contact' routerLinkActive='active-nav'>Contact Us</a>
  </li>
  <li>
  <a routerLink='interests' routerLinkActive='active-nav'>Interests</a>
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
<p>Footer</p>
